# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
.terraformrc
terraform.rc
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.*.log 